@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
@keyframes spinSlow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinFast {
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 1.8s linear infinite;
}

.animate-spin-fast {
  animation: spinFast 0.9s linear infinite;
}
